# prometheus.yml
global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'goshop'
    static_configs:
      - targets: ['goshop:8080']  # Nom du service dans Docker Compose